*{
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
/* body{
    height: auto;
} */
.container{
    background-color:hsl(0, 0%, 98%);
    display: block;
    width: 100%;
    height: 280vh;
    padding: 1.5rem;
    padding-top: 3rem;
    /* box-sizing: border-box; */

}
/* .right{
    margin-top: -100px;
    position: relative;
} */
.footer{
    background-color: hsl(12, 88%, 59%);
    display: block;
    width: 100%;
    height: 55vh;
}
.second_footer{
    background-color: hsl(233, 12%, 13%);
    display: block;
    width: 100%;
    height: 60vh;
}
@media screen and (min-width:1000px) {

.container{
    height: 300vh;
}
    .footer{
        background-color: hsl(12, 88%, 59%);
        display: block;
        width: 100%;
        height: 35vh;
        /* margin-top: 50px; */
    }
    .second_footer{
        background-color: hsl(233, 12%, 13%);
        display: block;
        width: 100%;
        height: 60vh;
    }
}